@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:wght@700&display=swap');

p {
    color: darkcyan;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Lobster', cursive;
}