@media screen and (max-width: 380px){
    header, footer, section {
        height: 20vh;
    }

    div {
        flex-direction: column;
    }

    section {
        width: 100vw;
    }

    main {
        width: 100vw;
        height: 20vh;
        display: flex;
        background-color: chocolate;
    }
}