body {
    margin: 0;
}

header, footer {
    width: 100vw;
    height: 35vh;
    background-color: #79B4F4;
}

div {
    display: flex;
    justify-content: center;
}

section {
    width: 33.4vw;
    height: 30vh;
    background-color: #3D6FB4;
}

header, footer, section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

main {
    display: none;
}