@media screen and (max-width: 430px) {
    header, .right {
        height: 20vh;
    }

    main {
        flex-direction: column;
        justify-content: center;
    }

    .left {
        height: 60vh;
    }

    .left, .right {
        width: 100vw;
    }
}