body{
    margin: 0;
}

header {
    width: 100vw;
    height: 35vh;
    background-color: cornflowerblue;
}

main {
    display: flex;
}

.left {
    width: 70vw;
    height: 65vh;
    background-color: coral;
}

.right {
    width: 30vw;
    height: 65vh;
    background-color: crimson;
}

header, section {
    display: flex;
    justify-content: center;
    align-items: center;
}